.background-sugestao{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.background-sugestao img{
    height: 100px;
    width: 100px;
}

@media (max-width: 768px) {
    .background-sugestao{
        width: 100%;
    }

    .background-sugestao h1{
        font-size: 2vh;
    }
}