.carrosel{
    width: 100%;
}
.container {
    width: 100%;
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    gap: 2rem;
    padding: 1rem;

    scrollbar-width: none; 
    -ms-overflow-style: none;

    transform-style: preserve-3d;
    transform: perspective(1000px);
    mask: linear-gradient(
        to right,
        transparent 0%,
        #000 10%,
        #000 90%,
        transparent 100%

    );
}

.head{
    display: flex;
    justify-content: space-between;
}
.head h2:after{
    content: "";
    display: block;
    bottom: 100px;
    height: 4px;
    width: 60vw;
    background-color: var(--text-color);
    margin: 5px auto 0;
}

.btns{
    display: flex;
    gap: 10px;
}
.btn-esquerda,
.btn-direita {
    width: 40px;
    height: 40px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    border: none;
    cursor: pointer;
}
.btn-esquerda{
    background-image: url("../../../images/seta-para-a-esquerda.png");
    filter: brightness(0.4);
}

.btn-direita{
    background-image: url("../../../images/seta-para-a-direita.png");
    filter: brightness(0.4);
}

.btn-esquerda:hover,
.btn-direita:hover {
    filter: brightness(1);
}

.icone-seta{
    height: 50px;
}
.jogo-imagem{
    height: 200px;
    border-radius: 10px;

    object-fit: cover;
    transition: transform 0.4s ease;
}
h3 {
    font-size: 19px;
}

.rating-jogo{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#nota-jogo{
    width: 30px;
    text-align: center;
    border-radius: 4px;
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
    transition: background-color 0.3s ease;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

.gamescard{
    display: flex;
    flex-direction: column;
    align-items: start;

    transition: transform 0.4s cubic-bezier(0.29, -1.81, 0.42, 1.68);
}

.gamescard:hover{
    transform: scale(1.1)
}

.nome-jogo{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 150px;
    display: inline-block;
    cursor: default;
    text-decoration: underline;

}

@media (max-width: 920px) {
    .btns{
        display: none;
    }
}