@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.roboto {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: medium;
  font-variation-settings:
    "wdth" 100;
}

.carrosel{
    width: 100%;
}
.container {
    width: 100%;
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    gap: 1rem;
    padding: 1rem;

    scrollbar-width: none; 
    -ms-overflow-style: none;
}

.head{
    display: flex;
    justify-content: space-between;
}
.btns{
    display: flex;
    gap: 5px;
}
.btn-esquerda,
.btn-direita {
    width: 40px;
    height: 40px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    border: none;
    cursor: pointer;
}
.btn-esquerda{
    background-image: url("../../../images/seta-esquerda.png");
}
.btn-esquerda:hover{
    background-image: url("../../../images/esquerda.png");
}
.btn-direita{
    background-image: url("../../../images/seta-direita.png");
}
.btn-direita:hover{
    background-image: url("../../../images/direita.png");
}
.icone-seta{
    height: 50px;
}
.image-games{
    height: 200px;
    border-radius: 10px;
}
h2 {
    
    font-size: 19px;
}
.nome-jogo{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 150px;
    display: inline-block;
    cursor: default;
    text-decoration: underline;
}