.carrosel{
    width: 100%;
}
.container {
    width: 100%;
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    gap: 2rem;
    padding: 1rem;

    scrollbar-width: none; 
    -ms-overflow-style: none;

    transform-style: preserve-3d;
    transform: perspective(1000px);
    mask: linear-gradient(
        to right,
        transparent,
        #000,
        transparent

    );
}

.head{
    display: flex;
    justify-content: space-between;
}
.btns{
    display: flex;
    gap: 10px;
}
.btn-esquerda,
.btn-direita {
    width: 40px;
    height: 40px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    border: none;
    cursor: pointer;
}
.btn-esquerda{
    background-image: url("../../../images/seta-para-a-esquerda.png");
    filter: saturate(0);
}

.btn-direita{
    background-image: url("../../../images/seta-para-a-direita.png");
    filter: saturate(0);
}

.btn-esquerda:hover,
.btn-direita:hover {
    filter: saturate(1);
}

.icone-seta{
    height: 50px;
}
.jogo-imagem{
    height: 200px;
    border-radius: 10px;

    object-fit: cover;
    transition: transform 0.4s ease;
}
h3 {
    font-size: 19px;
}

.gamescard{
    display: flex;
    flex-direction: column;
    align-items: center;

    transition: transform 0.4s cubic-bezier(0.29, -1.81, 0.42, 1.68);
}

.gamescard:hover{
    transform: scale(1.1)
}

.nome-jogo{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 150px;
    display: inline-block;
    cursor: default;
    text-decoration: underline;

}