.container{
    display: flex;
    flex-wrap: nowrap;
    width: auto;
}

.card {
    width: auto;
    background-color: rgb(14, 14, 31);
    border: 1px solid rgb(14, 14, 31);
    border-radius: 16px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
    overflow: hidden;

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.card h2 {
    padding: 5px;
    color: #f9f7f7;
    width: auto;
}

.card p{
    color: #f9f7f7;
}
img{
    padding-top: 25px;
    width: 300px;
    height: 300px;
    
    border-radius: 8px 8px 0 0;
    
}