@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

.jersey-10-regular {
  font-family: "Jersey 10", serif;
  font-weight: 400;
  font-style: normal;
}

.lato-black {
    font-family: "Lato", serif;
    font-weight: 900;
    font-style: normal;
}

.lato-black-pequeno {
    font-family: "Lato-pequeno", serif;
    font-weight: 600;
    font-style: normal;
}


.mulish {
    font-family: "Mulish", serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}

.mulish-pequeno {
    font-family: "Mulish-pequeno", serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}

/*  ==================== /\ FONTES /\ ======================
    ==================== || ====== || ======================*/

.comment{
    height: auto;
    width: 1100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.name-icon{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 10px;
    gap: 10px;
}

.name-icon h1{
    font-family: "Jersey 10", serif;
    font-size: 50px;
}

.form input{
    width: 370px;
    padding: 10px;
    border: 1px solid #ccc;
    outline: none;
    border-radius: 5px;
}
.form :focus, textarea:focus {
    border-color: #000000;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.form textarea{
    width: 370px;
    padding: 10px;
    border: 1px solid #ccc;
    outline: none;
    resize: none;
    border-radius: 5px;
}

.form button{
    background: #000000;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    transition: background 0.3s;
    width: 370px;
}


/*                     comentarios                      */

.container-comment{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.users-comment{
    padding: 30px;
    height: 500px;
    scroll-behavior: smooth;
    gap: 1.2rem;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scrollbar-width: thin;
    display: flex;
    flex-direction: column-reverse;
}

.container-comment h1{
    font-family: "Jersey 10", serif;
    font-size: 50px;
}

.user-comment{
    padding: 20px;
    color: white;
    background-color: rgb(14, 14, 31);
    border-radius: 10px;
    
}

@media( max-width:1000px ) {
    .comment{
        height: auto;
        width: auto;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 100px;
    }
    
    .form{
        justify-content: center;
        align-items: center;
    }

    .name-icon h1{
        font-size: 45px;
    }
}


@media( max-width: 768px) {
    .comment{
        height: auto;
        width: auto;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 100px;
    }

    .form{
        justify-content: center;
        align-items: center;
    }

    .name-icon h1{
        font-size: 45px;
    }

    .users-comment{
        height: auto;
        overflow-x: none;
    }

}

@media (max-width: 431px) {
    .name-icon h1{
        font-size: 40px;
    }
    .container-comment h1{
        font-size: 40px;
    }
}