.comment{
    height: auto;
    width: min(90%, 1100px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    padding-bottom: min(50px, 8%);
}

.form{
    width: min(90%, 470px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.name-icon{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    padding-bottom: 10px;
    gap: 10px;
}


.form input{
    width: 90%;
    padding: min(10px, 8%);
    border: 1px solid #ccc;
    outline: none;
    border-radius: 5px;
}
.form :focus, textarea:focus {
    border-color: #000000;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.form textarea{
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    outline: none;
    resize: none;
    border-radius: 5px;
}



/*                     comentarios                      */

.container-comment{
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}
.container-comment h2{
    padding-left: 5px;
}
.container-comment h2:after{
    content: "";
    display: block;
    bottom: 100px;
    height: 4px;
    width: 95%;
    background-color: var(--text-color);
    margin: 5px;
}

.users-comment{
    height: auto;
    scroll-behavior: smooth;
    gap: 1.2rem;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scrollbar-width: thin;
    display: flex;
    flex-direction: column;
}

.user-titulo{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

.user-comment{
    width: auto;
    color: var(--text-color);
    padding: 20px;
    border-radius: 10px;
    border: 1px solid transparent;
    transition: border-color 0.25s;
}

.user-comment:hover{
    border: solid 1px #C9BD89;
}

.enviar-btn{
    width: min(470px, 90%);
}
.ver-mais{
    width: min(400px, 90%);
}
@media( max-width:1000px ) {
    .comment{
        height: auto;
        width: auto;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 100px;
    }
    
    .form{
        justify-content: center;
        align-items: center;
    }

    .name-icon h1{
        font-size: 45px;
    }
}


@media( max-width: 768px) {
    .comment{
        height: auto;
        width: auto;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 100px;
    }

    .form{
        justify-content: center;
        align-items: center;
    }

    .name-icon h1{
        font-size: 45px;
    }

    .users-comment{
        height: auto;
        overflow-x: none;
    }

}

@media (max-width: 431px) {
    .name-icon h1{
        font-size: 40px;
    }
    .container-comment h1{
        font-size: 40px;
    }
}