.carrosel{
    width: 100%;
}
.head{
    display: flex;
    justify-content: space-between;
}
.btns{
    display: flex;
    gap: 5px;
}
.btn-esquerda,
.btn-direita {
    width: 40px;
    height: 40px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    border: none;
    cursor: pointer;
}
.btn-esquerda{
    background-image: url("../../../images/seta-para-a-esquerda.png");
}

.btn-direita{
    background-image: url("../../../images/seta-para-a-direita.png");
}

.icone-seta{
    height: 50px;
}

.breve-container{
    width: 100%;
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    gap: 1rem;
    padding: 1rem;

    scrollbar-width: none;
    -ms-overflow-style: none;
}
.brevecard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.jogo-imagem{
    height: 200px;
}