* {
    padding: 0;
    margin: 0;
}
.carrosel{
    width: 100%;
}
.head{
    display: flex;
    justify-content: space-between;
}

.icone-seta{
    height: 50px;
}

.slider {
    width: 100%;
    height: var(--height);
    mask: linear-gradient(
        to right,
        transparent,
        #000,
        transparent

    );
}

.slider:hover .brevecard{
    animation-play-state: paused!important;
    filter: grayscale(1);
}
.slider:hover .brevecard:hover{
    filter: grayscale(0);
}

.slider .breve-container {
    display: flex;
    width: 100%;
    min-width: calc(var(--width) * var(--quantity));
    position: relative;
}

.slider .breve-container .brevecard {
    width: var(--width);
    height: var(--height);
    position: absolute;
    left:100%;
    animation: autoRun 10s linear infinite;
    animation-delay: calc((10s / var(--quantity)) * (var(--position) - 1));
}

@keyframes autoRun{
    from{
        left: 100%;
    } to {
        left: calc(var(--width) * -1);
    }
}


.breve-container{
    width: 100%;
    height: var(--height);
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    gap: 1rem;
    padding: 1rem;

    scrollbar-width: none;
    -ms-overflow-style: none;
}
.brevecard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.jogo-imagem{
    height: 200px;
}