.login{
    display: flex;
    flex-direction: column;
    row-gap: 0.5em;
    width: 30vh;
}
.login h1{
    text-align: center;
    font-size: 6vh;
}
.login input{
    height: 3vh;
    border-radius: 5px;
}
.login button {
    height: 4vh;
    border-radius: 5px;
}

.login button :hover{
    color: aqua;
}