.navbar {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(204, 158, 67);
    z-index: 1500;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.nav-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5rem;
    height: 90px;
    width: 90%;
}

.nav-sec1{
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
}
.nav-sec1 h2{
    color: white;
}

.nav-sec2 {
    align-self: center;
}

.navbar-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    gap: 20px;
    height: 40%;
    width: 90%;
    
}

.nav-text{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navbar-container h3{
    color: white;
    font-weight: normal;
}

.navbar-btn{
    align-self: center;
    height: 40px;
    padding-top: 10px;
    cursor: pointer;
}

.navbar.open {
  animation: slideIn 0.3s ease forwards;
}

.navbar.closing {
  animation: slideOut 0.3s ease forwards;
}


@keyframes slideIn {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideOut {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(100%);
    opacity: 0;
  }
}