.navbar {
    position: fixed;
    top: 0;
    right: 0;
    width: 20rem;
    height: 100%;
    background-color: rgb(136, 127, 255);
    z-index: 1500;
    animation: slideIn 0.3s ease forwards;
    padding-top: 4rem;
}
.navbar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    height: 40%;
    
}

.navbar-btn{
    align-self: center;
    height: 40px;
    padding-top: 10px;
    cursor: pointer;
}

@keyframes slideIn {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}