@import url('https://fonts.googleapis.com/css2?family=Jersey+15&display=swap');

.jersey-15-regular {
    font-family: "Jersey 15", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding-top: 40px;
    padding-bottom: 40px;

    height: auto;
    width: 70%;

    justify-content: center;
    align-items: center;
}


.card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(20, 14, 60);
    gap: 10px;

    flex: calc(33% - 16px);
    max-width: calc(33% - 16px);
    box-sizing: border-box;

    height: 50vh;
    border-radius: 20px;

    
}
.card img{
    height: 60%;
    width: 70%;
    object-fit: cover;
    display: block;
    border-radius: 10%;
}

.card h2{
    color: rgb(255, 255, 255);
    font-size: 25px;
    text-align: center;
    font-family: "Jersey 15", sans-serif;
}

.rating{
    color: azure;
    font-size: 2vh;
}

@media (max-width: 1024px) {
    .card{
        flex: 1 1 calc(50% - 16px);
        max-width: calc(50% - 16px);
    }

    .card img{
        height: 60%;
        width: 60%;
    }
}

@media (max-width: 768px) {
    .card{
        flex: 1 1 calc(100% - 16px);
        max-width: calc(70% - 16px);
        height: 40vh;
    }

    .card img{
        height: 60%;
        width: 60%;
    }
}