* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --header-bg: rgb(43, 43, 57);
  --text-color: rgb(255, 255, 255);
  --text-color2: rgb(95, 110, 146);
  --body-bg: #1c1c28;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body.light {
  --header-bg: rgb(43, 43, 57);
  --text-color: #1e1e1e;
  --button-color: #f3f3f3;
  --body-bg: #d8d8db;
}

body.dark {
  --header-bg: rgb(43, 43, 57);
  --text-color: #ffffff;
  --body-bg: #1c1c28;
}

body, html {
  background-color: var(--body-bg);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}
h2 {
  color: var(--text-color);
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #C9BD89;
}

input::placeholder {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  font-size: 14px;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: var(--text-color);
}

h2 {
  font-size: 1.6em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  color: var(--button-color);
  transition: border-color 0.25s;
  color: #fff;
}

button:hover {
  border-color: #C9BD89;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}