* {
    margin: 0;
    padding: 0;
}

.background-main {
    width: 98vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
}


.container-backs {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 80px;

    margin-top: 20px;
    margin-bottom: 20px;
}

@media(max-width: 930px) {
    .container-backs {
        width: 90%;
    }
}