/* Fontes */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

.lato-black {
    font-family: "Lato", serif;
    font-weight: 900;
    font-style: normal;
}

.lato-black-pequeno {
    font-family: "Lato-pequeno", serif;
    font-weight: 600;
    font-style: normal;
}


.mulish {
    font-family: "Mulish", serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}
.mulish-pequeno {
    font-family: "Mulish-pequeno", serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}

/* CSS */
.texto{
    width: 70%;
    display: flex;
    flex-direction: column;
    
    gap: 20px;
}

.texto h1{
    font-family: "Lato", serif;
}
.texto p{
    font-family: "Mulish", serif;
}

@media(max-width: 768px) {
    .container-sobre{
        width: 90%;
        display: flex;
        flex-direction: column;
    }
    .texto h1{
        font-family: "Lato-pequeno", serif;
        text-align: center;
        padding: 20px;
    }
    .texto p{
        font-family: "Mulish-pequeno", serif;
        text-align: center;
    }
}

@media(max-width:1000px) {
    .container-sobre{
        width: 60%;
        gap: 30px;
    }
    .texto h1{
        font-size: 25px;
    }
}
